<%= form_for([@course, @course.questions.build]) do |f| %>
  <div class="field">
    Kysymys:
    <%= f.text_field :name %><br/>

    <% @number_of_answer_options = 20 %>
    <% for i in (1..@number_of_answer_options) %>
      <%= "Vastausvaihtoehto "+i.to_s %>
      <%= text_field_tag ('answer_option'+i.to_s).to_sym, nil %> <br />
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
