<%= form_for([@course, @course.questions.build]) do |f| %>
  <div class="field">
    <%= 'Question:' %>
    <%= f.text_field :name,  :class =>'inputti', :size => 50 %><br/>

    <% @number_of_answer_options = 20 %>
    <% for i in (1..@number_of_answer_options) %>
      <%= "Answer option "+i.to_s %>
      <%= text_field_tag ('answer_option'+i.to_s).to_sym, nil, :class =>'inputti', :size=>50 %> <br />
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
