<h1>questions#new</h1><br/>
<h1>New question </h1>



<%= form_for([@course, @course.questions.build]) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br/>
    Vastausvaihtoehto 1:
    <%= text_field_tag 'answer_option1', nil %> <br />
    Vastausvaihtoehto 2:
    <%= text_field_tag 'answer_option2', nil %><br />
    Vastausvaihtoehto 3:
    <%= text_field_tag 'answer_option3', nil %><br />
    Vastausvaihtoehto 4:
    <%= text_field_tag 'answer_option4', nil %><br />
    Vastausvaihtoehto 5:
    <%= text_field_tag 'answer_option5', nil %><br />
    Vastausvaihtoehto 6:
    <%= text_field_tag 'answer_option6', nil %><br />
    Vastausvaihtoehto 7:
    <%= text_field_tag 'answer_option7', nil %><br />
    Vastausvaihtoehto 8:
    <%= text_field_tag 'answer_option8', nil %><br />
    Vastausvaihtoehto 9:
    <%= text_field_tag 'answer_option9', nil %><br />
    Vastausvaihtoehto 10:
    <%= text_field_tag 'answer_option10', nil %><br />
     <br/>
 
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

