<h1>Course: <%= @course.name%> </h1>
<p id="notice"><%= notice %></p>
<h2>Question: <%= @question.name%>
</h2>
<% if session[:user_id]%>
  <% if @question.active?%>
    <%= button_to "Deactivate",course_question_activate_path(@course, @question, :activate => false) , :method => :activate %>
  <% else %>
    <%= button_to "Activate",course_question_activate_path(@course, @question, :activate => true) , :method => :activate %>
  <% end %>
<% end %>

<ol>
  <% @question.answer_options.each do |ao|  %>
    <li>
      <%= ao.title %>:
      <%= ao.answers.count %>
    </li>

  <% end %>
</ol>
<% if  session[:user_id] and  @question.active? %>
  <%= link_to 'Active answer url', new_course_question_answer_path(@course.id, @question.id)%>
<% end %>

<br />
<br />
<%= image_tag(@chart)  %>


<% if @comments.empty?%>
  <h3>Ei kommentteja</h3>
<% end %>
<% @comments.each do |c| %>
  <div class="commentComment">
    <p ><%= c.created_at%>
    <p id="poikki"><%= c.body%></p>
    </p>
  </div>
  <br />
<% end %>
