
<h1>Course: <%= @course.name%> </h1>

<p id="notice"><%= notice %></p>
  <h2>Question: <%= @question.name%>
  </h2>

<ol>
<% @question.answer_options.each do |ao|  %>
    <li>
        <%= ao.title %>:
        <%= ao.answers.count %>
    </li>

<% end %>
</ol>
<!--
<%= link_to 'Answer to this question', new_course_question_answer_path(@course.id, @question.id)%>
-->
<br />
<br />
<%= image_tag(@asd) %>