.Sign_Form
  %h1 Log in
  = form_tag(:action => 'login', html: { class: 'form-horizontal'}) do
    .control-group
      .control-label
        = label_tag 'Username or Email:'
      .controls
        = text_field_tag(:username_or_email)
    .control-group
      .control-label
        Password:
      .controls
        = password_field_tag :login_password
    .actions
      = submit_tag "Log In", class: 'btn btn-primary'
