<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  </div>
  <script type="text/javascript">
    setTimeout("new Effect.Fade('notice');", 15000)
  </script>
<% end %>

<% if flash[:alert] %> <p id="notice" ><%= flash[:alert] %></p>
<% end %>
<%= form_tag do %>
  <fieldset>
    <legend>
      Please Log In
    </legend>
    <div>
      <label for="name" >Name:</label>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div>
        <label for="password" >Password:</label>
        <%= password_field_tag :password, params[:password] %>
    </div>
    <div>
      <%= submit_tag "Login" %>
    </div>
  </fieldset>
<% end %>
</div>
