<h1>Welcome</h1>
It's <%= Time.now %><br/>
We have <%= pluralize(@total_courses, "course") %>.  <br/>
We have <%= pluralize(@total_questions, "question") %>. <br/>
We have <%= pluralize(@total_answer_options, "answer option") %>. <br/>
We have <%= pluralize(@total_answers, "answer") %>. <br/>

