<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to 'Show', user %></td>
      <% if user.id == @user.id or @user.administrator == true  %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>

      <% if @user.administrator? %>
        <td><%= link_to 'Delete', user, confirm: 'Are you sure', method: :delete%> </td>
        <td>
        <% if user.administrator?%>
          <%= button_to "Make to normal user", user_to_admin_path(user, :admin => false) , :method => :makeAdmin %>
        <% else %>
          <%= button_to "Make administrator", user_to_admin_path(user, :admin => true) , :method => :makeAdmin %>
        <% end %>
        </td>


      <% end %>
    </tr>
  <% end %>
</table>
