<h1>answer#new</h1><br/>
<h1>New Answer </h1>
<h2> <%="#{@question.name}"%></h2>




<ol>
    <%= form_for([@course, @question ,@question.answers.build])  do |f|%>
        <% @question.answer_options.each do |ao|  %>
            <li>
              <%= ao.title %>
              <%= radio_button_tag 'answer_option_id', ao.id  %><br />

       
            </li>

         <% end %>
         <%= f.submit %>
    <% end %>   
</ol>

