<h1><%= "#{@course.name}"%></h1>
<h2><%="#{@question.name}"%></h2>
<% if (@question.active?) %>
  <ul class="newAnswer">
    <%= form_for([@course, @question ,@question.answers.build])  do |f|%>
      <% @question.answer_options.each do |ao|  %>
        <li>
          <%= radio_button_tag 'answer_option_id', ao.id  %>
          <%= ao.title %>
          <br />
        </li>
      <% end %>
      <p>Comment</p>
      <%= text_area_tag 'comment', nil,  :rows => 4, :cols => 50%>
      <br />
      <%= f.submit 'Submit' %>
    <% end %>
  </ul>
<% else %>
  <h2 style="color: red;">This Answer Is Not Active</h2>
<% end %>

