<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  </div>
  <script type="text/javascript">
    setTimeout("new Effect.Fade('notice');", 15000)
  </script>
<% end %>

<h1>Listing all comments for <%= "#{@course.name}"%></h1>

<% @course.questions.each do |q|%>
  <div class="commentCourse">
    <h2><%= q.name%></h2>
    <% if q.comments.empty? %>
      <h3>Kurssilla ei kommentteja</h3>
    <% else %>
      <% q.comments.each do |c|%>
        <div class="commentComment">
          <p>
            <%= c.created_at%> <p id="poikki"><%= c.body%></p>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
