<p id="notice"><%= notice %></p>
<h1>Listing courses</h1>

<table>
  <tr>
    <th><h2>Name</h2></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= link_to "#{course.name}", course_questions_path(course) %></td>
    <% if session[:user_id]%>
        <td><%= link_to 'Rename', edit_course_path(course) %></td>
        <td><%= link_to 'Delete', course, confirm: 'Are you sure', method: :delete%> </td>
    <% end %>
  </tr>
<% end %>
</table>
<!-- >
<br />
<% if session[:user_id]%>
    <%= link_to 'New Course', new_course_path %>
<% end %>
Tota tossa ei tarvita

-->