<!DOCTYPE html>
<html>
    <head>
        <title>Jarmon kyselyohjelma</title><!-- ><title>AktivatorPlus</title>-->
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body id="kaikki">
        <% if session[:user_id]%>
        <div class="withNavi">
            <div class="navi">
                <ul class="naviNoDots"><li><%= link_to "Admin", admin_path%></li>
                    <br />
                    <li><%= link_to "New Course", new_course_path%></li>
                    <br />
                    <li><%= link_to "Show Courses", courses_path%></li>
                    <br />
                    <% if params[:controller]=="courses" and params[:id] or params[:course_id]%>
                        <% @courseID = params[:course_id]%>
                        <% if params[:controller]=="courses"%>
                                <% @courseID = params[:id]%>
                            <% else%>
                                <% @courseID = params[:course_id] unless params[:course_id]== nil%>
                           <% end %>
                        <li><%= link_to "Edit This Course", edit_course_path([@courseID])%></li>
                        <br />
                        <li><%= link_to "New Quesion", new_course_question_path([@courseID])%></li>
                        <br />
                        <li><%= link_to "Show Courses Questions", course_questions_path([@courseID])%></li>
                        <br />
                        <li><%= link_to "Show Courses Comments", course_comments_path([@courseID])%></li>
                         <br />
                    <%end%>

                    <% if params[:course_id] and params[:id] %></li> <li><%= link_to "Answer to this quesion", new_course_question_answer_path(params[:course_id], params[:id])%></li>
                    <br />
                    <li><%= link_to "Show Questions Results", course_question_path(params[:course_id], params[:id])%></li>
                    <br />
                    <li><%= link_to "Show Questions Comments", course_question_comments_path(params[:course_id], params[:id])%></li>
                    <br />
                    <%end%> <li><%= link_to "New User", new_user_path%></li>
                    <br />
                    <br />
                    <%= button_to "logout",logout_path, :method => :delete %> </ul>
            </div>
            <% else%>
            <div class=withOutNavi>
                <%end%>
                <div class="content">
                    <%= yield %>
                </div>
            </div>
            <div class="footer">
                <!-- <p class="footer">Copyright Jarmo Isotalo</p>-->
                <p class="footer">Time now: <%= Time.now.asctime %> </p>
            </div>
    </body>
</html>
