<!DOCTYPE html>
<html>
    <head>
        <title>Jarmon kyselyohjelma</title><!-- ><title>AktivatorPlus</title>-->
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body id="kaikki">
      <% if session[:user_id]%>
        <div class="withNavi">
          <%= render 'layouts/navi'%>
          <% else%>
          <div class=withOutNavi>
            <%end%>
            <div class="content">
              <%= yield %>
            </div>
          </div>
          <div class="footer">
            <p class="footer">Time now: <%= Time.now.asctime %> </p>
          </div>
    </body>
</html>
